#### Python Classes

In [3]:
print('Hello')

Hello

In [12]:
a = 10
b = 'name'
c = 1.23
type(c)

float

In [13]:
type(True)

bool

In [16]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [18]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [21]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [23]:
## variable name

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [25]:
# 2myvar = "John"
# my-var = "John"
# my var = "John"

In [27]:
print('Hello')

Hello

In [28]:
first_name = 'Amit'
second_name = 'Yadav'

In [31]:
print("my first name is {} and last name is {} ".format(first_name,second_name))

my first name is Amit and last name is Yadav

In [33]:
print(f"my first name is {first_name} and last name is {second_name}")

my first name is Amit and last name is Yadav

In [35]:
x = "awesome"

def myfunc():
    
  print("Python is " + x)

myfunc()

Python is awesome

In [42]:
x = 25

def myfunc():
  x = 23
  print(x)

myfunc()

# print(x)

23
25

In [43]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [44]:
### Arithmtic operation

x = 10
y = 12

print(x+y)

22