## Dictionary and Control Flow

In [1]:
my_dict = {"vegs":"potato","fruit":"apple,mango","season":"winter,summer"}
my_dict

{'vegs': 'potato', 'fruit': 'apple,mango', 'season': 'winter,summer'}

In [3]:
my_dict['fruit']

'apple,mango'

In [4]:
for x in my_dict:
    print(x)

vegs
fruit
season

In [5]:
for x in my_dict.items():
    print(x)

('vegs', 'potato')
('fruit', 'apple,mango')
('season', 'winter,summer')

In [6]:
for x in my_dict.values():
    print(x)

potato
apple,mango
winter,summer

In [7]:
### my_dict
my_dict.update({'lang':'eng,hindi'})
my_dict

{'vegs': 'potato',
 'fruit': 'apple,mango',
 'season': 'winter,summer',
 'lang': 'eng,hindi'}

In [8]:
my_dict['cour'] = 'india'
my_dict

{'vegs': 'potato',
 'fruit': 'apple,mango',
 'season': 'winter,summer',
 'lang': 'eng,hindi',
 'cour': 'india'}

In [11]:
dict1 = my_dict.copy()
dict1

{'vegs': 'potato',
 'fruit': 'apple,mango',
 'season': 'winter,summer',
 'lang': 'eng,hindi',
 'cour': 'india'}

In [13]:
## clear
dict1.clear()
dict1

{}

In [15]:
my_dict

{'vegs': 'potato',
 'fruit': 'apple,mango',
 'season': 'winter,summer',
 'lang': 'eng,hindi',
 'cour': 'india'}

In [16]:
my_dict['vegs'] = 'Tomato'
my_dict

{'vegs': 'Tomato',
 'fruit': 'apple,mango',
 'season': 'winter,summer',
 'lang': 'eng,hindi',
 'cour': 'india'}

In [17]:
### Nested Dictionary

car1_model = {'Mercedes':1960}
car2_model = {'Audi':1970}
car3_model = {'Ambassador':1980}

In [18]:
car_type = {'car1':car1_model,'car2':car2_model,'car3':car3_model}
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [19]:
car_type['car1']

{'Mercedes': 1960}

In [20]:
car_type['car1']['Mercedes']

1960

In [21]:
car_type['car1']['Mercedes'] = 1980
car_type

{'car1': {'Mercedes': 1980},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [22]:
## added 
car_type['car4'] = {'BMW':1940}
car_type

{'car1': {'Mercedes': 1980},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980},
 'car4': {'BMW': 1940}}

In [23]:
car_type.keys()

dict_keys(['car1', 'car2', 'car3', 'car4'])

In [24]:
car_type.values()

dict_values([{'Mercedes': 1980}, {'Audi': 1970}, {'Ambassador': 1980}, {'BMW': 1940}])

In [26]:
car_type.items()

dict_items([('car1', {'Mercedes': 1980}), ('car2', {'Audi': 1970}), ('car3', {'Ambassador': 1980}), ('car4', {'BMW': 1940})])

In [27]:
## delete 
car_type.pop('car4')
car_type

{'car1': {'Mercedes': 1980},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

### Control Flow

In [28]:
x = 5

if x > 10:
    print("x is greater than 10")
else:
    print("x is not greater than 10")

x is not greater than 10

In [29]:
x = 5

if x > 10:
    print("x is greater than 10")
elif x < 10:
    print("x is less than 10")
else:
    print("x is equal to 10")

x is less than 10

In [30]:
## For Loops
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [31]:
count = 0

while count < 5:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [32]:
s = "Geeks"
for i in s:
    print(i)

G
e
e
k
s

In [33]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [35]:
for i in range(5,11):
    print(i)

5
6
7
8
9
10

In [41]:
for i in range(10,20,3):
    print(i)

10
13
16
19

In [42]:
fruits = ["apple", "banana", "cherry"]
colors = ["red", "yellow", "green"]
#apple is red
for fruit,color in zip(fruits,colors):
    print(fruit,"is",color)

apple is red
banana is yellow
cherry is green

In [44]:
## first 10 number plus
sum = 0
for i in range(10):
    print(i)
    sum = sum + i
print(sum)

0
1
2
3
4
5
6
7
8
9
45

In [45]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi"]

for fruit in fruits:
    print(fruit)
    if fruit == "cherry":
        break
    if fruit == "banana":
        continue
    print(fruit)

apple
apple
banana
cherry

In [ ]:
## Nested if -else
### Nested if -else

x = 5
y = 10

if x > 0:
    if y > 0:
        print("Both x and y are positive")
    else:
        print("x is positive, but y is not")
else:
    print("x is not positive")

In [46]:
x = 5
y = 10

if x > 0:
    if y > 0:
        print(x+y)
    else:
        print("x is positive, but y is not")
else:
    print("x is not positive")

15

In [59]:
### enumerate
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print("Index:", index, "Fruit:", fruit)

Index: 0 Fruit: apple
Index: 1 Fruit: banana
Index: 2 Fruit: cherry

In [60]:
x = 10
result = "Even" if x % 2 == 0 else "Odd"
print(result)

Even

In [61]:
x = 10
if x%2 == 0:
    print('Even')
else:
    print('Odd')

Even

In [65]:
for i in range(1, 4):
#     print(i)
    for j in range(5, 8):
        print(i, j)

1 5
1 6
1 7
2 5
2 6
2 7
3 5
3 6
3 7

In [66]:
x = 5

if x > 0 and x < 10:
    print("x is a single-digit positive number")
elif x <= 0 or x >= 10:
    print("x is either non-positive or double-digit or greater")
else:
    print("x is within the range of 1 to 9")

x is a single-digit positive number

In [81]:
try:
    x = 10 /2
    print(x)
except ZeroDivisionError:
    print("Error: Division by zero")
else:
    y = 5
    print(x+y)
    print("No error occurred")
finally:
    print("This will always be executed")

5.0
10.0
No error occurred
This will always be executed

In [72]:
10/0

ZeroDivisionError: division by zero