## Basic Syntax and data type

In [2]:
print('hello world')

hello world

In [3]:
print(5)

5

In [4]:
print(True)

True

In [5]:
# i am going to learn python

In [6]:

"""
this is multi line comment

"""

'\nthis is multi line comment\n'

## Variables:

Variables are names used to store data in memory

In [10]:
## variable assignment
age = 25
name = 'Amit'
is_student = True
marks = 97.8

In [8]:
type(age)

int

In [9]:
type(name)

str

In [11]:
type(is_student)

bool

In [12]:
type(marks)

float

In [13]:
print(name,age,is_student,marks)

Amit 25 True 97.8

In [15]:
print("Name:", \n name,"Age",age)

SyntaxError: unexpected character after line continuation character (2389737497.py, line 1)

In [17]:
print(f"Name:{name},\nAge:{age}")

Name:Amit,
Age:25

In [18]:
print('my name is {} and my age is {}'.format(name,age))

my name is Amit and my age is 25

In [19]:
print('my name is {Name} and my age is {Age}'.format(Age=age,Name=name))

my name is Amit and my age is 25

In [20]:
print(f"my name is {name} and my age is {age}")

my name is Amit and my age is 25

In [21]:
## Number
complex_number = 2+3j

In [22]:
type(complex_number)

complex

In [27]:
user_imput = int(input("Enter your age"))

Enter your age25

In [28]:
print(user_imput)

25

In [29]:
type(user_imput)

int

In [40]:
### fun Example
sub1 = int(input("Enter your First subject Marks"))
sub2 = int(input("Enter your second subject Marks"))

## add this marks 

final_marks = sub1 + sub2

# print(final_marks)
## calculate Percentage
percentage = (final_marks/200)*100

##3 Chech Condition To passs and Fail

if percentage >= 50:
    print(f"Your Total Marks is {final_marks} and your Percentage is {percentage:.3f} and Wola You Passed")
else:
    print(f"Your Total Marks is {final_marks} and your Percentage is {percentage:.3f} and Sorry You are Fail")

Enter your First subject Marks25
Enter your second subject Marks56
Your Total Marks is 81 and your Percentage is 40.500 and Sorry You are Fail

In [69]:
def calculate_result():
    num_subject = int(input('Enter the number of subject: '))
    
    total_marks = 0
    for i in range(1,num_subject+1):
        subject_marks = int(input(f'Enter marks for Subject {i}:'))
#         total_marks = total_marks + subject_marks
        total_marks += subject_marks
    ## percentage 
    percentage = (total_marks/ (num_subject*100))*100
    print(f"Total marks : {total_marks}")
    print(f"Percentahe :{percentage:.2f}%")
    
    if percentage >= 50:
        return 'Pass'
    else:
        return 'Fail'
    
result = calculate_result()
print(result)

Enter the number of subject: bbdhsbdhbshbd

ValueError: invalid literal for int() with base 10: 'bbdhsbdhbshbd'

In [ ]:
num_subject = int(input('Enter the number of subject: '))
# print(num_subject)
total_marks = 0
# print('smallTotal',total_marks)
for i in range(1,num_subject+1):
    subject_marks = int(input(f'Enter marks for Subject {i}:'))
    total_marks = total_marks + subject_marks
#     print('TotalMarks',total_marks)

In [63]:
def sum(a,b):
    print(a+b)

In [64]:
def sumr(a,b):
    return a+b

In [65]:
total = sum(2,4)
print(total)

6
None

In [66]:
total = sumr(2,4)
print(total)

6

In [73]:
### Fun
string = "yaduvanshi amit"

In [71]:
string.lower()

'yaduvanshi amit'

In [72]:
string.upper()

'YADUVANSHI AMIT'

In [74]:
string.title()

'Yaduvanshi Amit'

In [75]:
string.isdigit()

False

In [76]:
string.endswith('t')

True

In [78]:
string.startswith('y')

True

In [79]:
string[1:3]

'ad'

In [80]:
number = 
number[0:1]

TypeError: 'int' object is not subscriptable

In [81]:
string[::-1]

'tima ihsnavuday'

In [95]:
string = 'abcdefghijklmnopq'
string[2:6:2]

'ce'

In [ ]:
radar

In [97]:
def is_palindrome():
    word = input("Enter a word :")
    cleaned_word = word.lower()
    reversed_word = cleaned_word[::-1]
    if cleaned_word == reversed_word:
        return "This is Palindrome"
    else:
        return "This is Not Plaindrome"
    
is_palindrome()

Enter a word :amit

'This is Not Plaindrome'