## Data Structures

## Lists 

Lists are Ordered collection of element that can hold items of different data types.

Lists are Mutable,Meaning their elements can be changed after creation

In [4]:
## Creating 

Fruits = ['apple','mango','grapes',5,5.6,True]
Fruits

# type(Fruits)

['apple', 'mango', 'grapes', 5, 5.6, True]

In [5]:
### Accesing 
Fruits[0]

'apple'

In [6]:
Fruits[2]

'grapes'

In [7]:
Fruits[0] = 'Orange'
Fruits

['Orange', 'mango', 'grapes', 5, 5.6, True]

In [8]:
Fruits[2] = 'apple'
Fruits

['Orange', 'mango', 'apple', 5, 5.6, True]

In [9]:
### Add a element in a list

Fruits.append('grapes')
Fruits

['Orange', 'mango', 'apple', 5, 5.6, True, 'grapes']

In [10]:
###  if we want to add element on any index
Fruits.insert(0,'grapes')
Fruits

['grapes', 'Orange', 'mango', 'apple', 5, 5.6, True, 'grapes']

In [11]:
## 
Fruits.insert(2,'Watermelon')
Fruits

['grapes', 'Orange', 'Watermelon', 'mango', 'apple', 5, 5.6, True, 'grapes']

In [28]:
### Extend
Fruits.extend(['mango','sugar'])
Fruits

['grapes',
 'Orange',
 'Watermelon',
 'mango',
 'apple',
 True,
 'grapes',
 'mango',
 'sugar']

In [30]:
Fruits.count('mango')

2

In [12]:
### Check Length
len(Fruits)

9

In [13]:
Fruits.pop(5)
Fruits

['grapes', 'Orange', 'Watermelon', 'mango', 'apple', 5.6, True, 'grapes']

In [14]:
Fruits.remove(5.6)
Fruits

['grapes', 'Orange', 'Watermelon', 'mango', 'apple', True, 'grapes']

In [17]:
### Indexing
Fruits[1:4]

['Orange', 'Watermelon', 'mango']

In [18]:
 Fruits

['grapes', 'Orange', 'Watermelon', 'mango', 'apple', True, 'grapes']

In [19]:
Fruits[::-1]

['grapes', True, 'apple', 'mango', 'Watermelon', 'Orange', 'grapes']

In [20]:
Fruits[0:5:2]

['grapes', 'Watermelon', 'apple']

In [22]:
if 'sugar' in Fruits:
    print('yes')
else:
    print('No')

No

In [23]:
for i in Fruits:
    print(i)

grapes
Orange
Watermelon
mango
apple
True
grapes

In [24]:
for i in range(len(Fruits)):
    print(i)

0
1
2
3
4
5
6

In [27]:
for ind,fru in enumerate(Fruits):
    print(f"Index {ind} : {fru}")

Index 0 : grapes
Index 1 : Orange
Index 2 : Watermelon
Index 3 : mango
Index 4 : apple
Index 5 : True
Index 6 : grapes

In [31]:
Fruits

['grapes',
 'Orange',
 'Watermelon',
 'mango',
 'apple',
 True,
 'grapes',
 'mango',
 'sugar']

In [32]:
Fruits.clear()

In [33]:
Fruits

[]

In [37]:
number = [3,7,4,2,5]
number

[3, 7, 4, 2, 5]

In [38]:
number.sort()

In [39]:
number

[2, 3, 4, 5, 7]

In [40]:
x,y,z,a,b = number

In [41]:
print(x)

2

In [42]:
x = number[0]

In [43]:
print(x)

2

In [44]:
list(reversed(number))

[7, 5, 4, 3, 2]

In [45]:
list1 = [1,2,3,4]
list2 = [5,5,6]

list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 5, 6]

### Tuples

Tuples are ordered collections of elements, similar to lists, but they are immutable, meaning their elements cannot be changed after creation.

In [46]:
## Ceating a  Tuple
cordinates = (10,20)

In [1]:
tuples = (1,'amie',2.5)
tuples

(1, 'amie', 2.5)

In [47]:
type(cordinates)

tuple

In [48]:
cordinates

(10, 20)

In [49]:
cordinates[0]

10

In [50]:
cordinates[0] = 30

TypeError: 'tuple' object does not support item assignment

In [51]:
###
listconrd = list(cordinates)
type(listconrd)

list

In [52]:
listconrd

[10, 20]

In [53]:
listconrd[0] = 30
listconrd

[30, 20]

### Sets 

Sets are unordered collections of unique elements. They do not allow duplicate values.

In [54]:
## Creating Set

fruits_set = {'apple','banana','orange','apple'}
fruits_set

{'apple', 'banana', 'orange'}

In [5]:
fruits_set = {'apple','banana','orange','apple',1,5.6,True}
fruits_set

{1, 5.6, 'apple', 'banana', 'orange'}

In [55]:
type(fruits_set)

set

In [56]:
fruits_set.add('grapes')
fruits_set

{'apple', 'banana', 'grapes', 'orange'}

In [57]:
set1 = {1,2,3}
set2 = {3,4,5}

union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

In [58]:
instersection_set = set1 & set2
print(instersection_set)

{3}

In [59]:
## 
email_list = [
    'user@example.com',
    'john.doe@example.com',
    'user@example.com',
    'jane.smith@example.com',
    'john.doe@example.com'
]

unique_email_set = set(email_list)
print(unique_email_set)

{'john.doe@example.com', 'jane.smith@example.com', 'user@example.com'}

## Dictionaries

Definition: Dictionaries are collections of key-value pairs, allowing you to store and retrieve data using unique keys.

In [60]:
### Creating a Dictinories

students = {'name':'Amit','age':25,'is_student':True}
students

{'name': 'Amit', 'age': 25, 'is_student': True}

In [61]:
dictionaries = {'fruits':'apple','vegetable':'carrot'}
dictionaries

{'fruits': 'apple', 'vegetable': 'carrot'}

In [62]:

students = {'name':'Amit','age':25,'is_student':True}
students

{'name': 'Amit', 'age': 25, 'is_student': True}

In [63]:
### Access 
students['name']

'Amit'

In [64]:
students['age']

25

In [65]:
students['age'] = 26
students

{'name': 'Amit', 'age': 26, 'is_student': True}

In [66]:
students['name'] = 'Anil'
students

{'name': 'Anil', 'age': 26, 'is_student': True}

In [67]:
key_list = students.keys()

In [68]:
key_list

dict_keys(['name', 'age', 'is_student'])

In [69]:
values = students.values()
values

dict_values(['Anil', 26, True])

In [70]:
item = students.items()
item

dict_items([('name', 'Anil'), ('age', 26), ('is_student', True)])

In [71]:
students.update({'Working':'True'})
students

{'name': 'Anil', 'age': 26, 'is_student': True, 'Working': 'True'}

In [73]:
### Function

students = [
    
    {'name': 'John Doe', 'age': 25, 'gender': 'Male'},
    {'name': 'Alice Smith', 'age': 22, 'gender': 'Female'},
    {'name': 'Bob Johnson', 'age': 30, 'gender': 'Male'}
]

type(students)

list

In [75]:
type(students[0])

dict

In [78]:
students[1]['gender']

'Female'

## Nested Disctionaries

In [4]:
car1_model = {'Mercedes':1980}
car2_model = {'Audi':1970}
car3_model = {'Ambassodor':1980}
type(car1_model)

dict

In [3]:
car1_model.values()

dict_values([1980])

In [5]:
car_type= {'car1':car1_model,'car2':car2_model,'car3':car3_model}
type(car_type)

dict

In [62]:
car_type['car1']

{'Mercedes': 1985}

In [9]:
car_type['car1']['Mercedes'] = 1985

In [10]:
car_type['car1']['Mercedes']

1985

In [25]:
#### Fun Example

def student_marks_analysis():
    num_students = int(input("Enter the nymber of students: "))
    marks_list = []
    
    # input marks for each students and store in the list
    for i in range(num_students):
        marks = int(input(f"enter marks for student {i+1}: "))
        marks_list.append(marks)
    
    # Calculate and display maximum, minimum, and average marks
    max_marks = max(marks_list)
    min_marks = min(marks_list)
    total_marks = sum(marks_list)
    average_marks = total_marks / num_students
    
     # Find the index of the student with the highest and lowest marks
    highest_index = marks_list.index(max_marks)
    lowest_index = marks_list.index(min_marks)

    print("Marks List:", marks_list)
    print("Maximum Marks:", max_marks)
    print("Minimum Marks:", min_marks)
    print("Average Marks:", average_marks)
    
    # Display the students who scored the highest and lowest marks
    print("Student with Highest Marks:", f"Student {highest_index + 1}")
    print("Student with Lowest Marks:", f"Student {lowest_index + 1}")
    

student_marks_analysis()

Enter the nymber of students: 5
enter marks for student 1: 45
enter marks for student 2: 45
enter marks for student 3: 78
enter marks for student 4: 75
enter marks for student 5: 85
Marks List: [45, 45, 78, 75, 85]
Maximum Marks: 85
Minimum Marks: 45
Average Marks: 65.6
Student with Highest Marks: Student 5
Student with Lowest Marks: Student 1

In [24]:
## practise
num_students = int(input("Enter the nymber of students: "))
marks_list = []  ## empty list
for i in range(num_students):
    marks = int(input(f"enter marks for student {i+1}: "))
    marks_list.append(marks)
    
print(marks_list)

### max 
max_marks = max(marks_list)
print(max_marks)

## min 
min_marks = min(marks_list)
print(min_marks)

## total_marks
total_marks = sum(marks_list)
print(total_marks)

## percentage 
percentage = (total_marks/(len(marks_list)*100))*100
print(percentage)

### Display the students highest and lowest marks

highest_marks = marks_list.index(max_marks)
print(highest_marks+1)

lowest_marks = marks_list.index(min_marks)
print(lowest_marks +1)

Enter the nymber of students: 5
enter marks for student 1: 56
enter marks for student 2: 89
enter marks for student 3: 75
enter marks for student 4: 45
enter marks for student 5: 56
[56, 89, 75, 45, 56]
89
45
321
64.2
2
4

In [21]:
abc = [33,4,4,5,6,44,55]

In [22]:
abc.index(5)

3

In [43]:
#### Fun Example

students = {}


student_id = int(input('Enter student Id: '))
name = input('Enter student name: ')
age = int(input('Enter student age: '))
grades = input("enter sttudent grades (comma-separated): ").split(",")
# grad = grades.split(",")
gradeslist = []
for i in grades:
    gradeslist.append(int(i))
print(gradeslist)
subject = input("Enter student subjects (comma-separated): ").split(",")
print(subject)

students[student_id ] = {'name':name,
                        'age':age,
                        'grades':grades,
                        'subject':subject}

print(students)

Enter student Id: 101
Enter student name: Amit
Enter student age: 25
enter sttudent grades (comma-separated): 42,56,89,78,45
[42, 56, 89, 78, 45]
Enter student subjects (comma-separated): sst,sci,eng,hindi,gk
['sst', 'sci', 'eng', 'hindi', 'gk']
{101: {'name': 'Amit', 'age': 25, 'grades': ['42', '56', '89', '78', '45'], 'subject': ['sst', 'sci', 'eng', 'hindi', 'gk']}}

In [ ]:
grades = [int(x) for x in input("Enter student grades (comma-separated): ").split(",")]

In [32]:
grades = input("enter sttudent grades (comma-separated): ")
print(grades)

enter sttudent grades (comma-separated): 45/56/89/56/45
45/56/89/56/45

In [33]:
type(grades)

str

In [34]:
grad = grades.split("/")
print(grad)

['45', '56', '89', '56', '45']

In [35]:
type(grad)

list

In [36]:
value = grad[0]
print(value)

45

In [37]:
type(value)

str

In [38]:
newlist = []
for i in grad:
    newlist.append(int(i))
    
newlist

[45, 56, 89, 56, 45]

In [39]:
valueww = newlist[0]

In [40]:
type(valueww)

int

In [41]:
[int(x) for x in input("Enter student grades (comma-separated): ").split(",")]

KeyboardInterrupt: Interrupted by user

In [ ]:
{101: 
 {'name': 'Amit',
  'age': 25,
  'grades': ['42', '56', '89', '78', '45'], 
  'subject': ['sst', 'sci', 'eng', 'hindi', 'gk']}}

In [80]:
### 
students = {}


def display_student_details(student_id):
    
    if student_id in students:
        student = students[student_id]
        print(f"Student ID: {student_id}")
        print(f"Name: {student['name']}")
        print(f"Age: {student['age']}")
        print("Grades:", student['grades'])
        
        
    else:
        print(f"Student with ID {student_id} not found in the database.")
        print()
        
    

def add_student():
    student_id = int(input('Enter student Id: '))
    name = input('Enter student name: ')
    age = int(input('Enter student age: '))
    grades = input("enter sttudent grades (comma-separated): ").split(",")
    # grad = grades.split(",")
    gradeslist = []
    for i in grades:
        gradeslist.append(int(i))
    print(gradeslist)
    subject = input("Enter student subjects (comma-separated): ").split(",")
    print(subject)

    students[student_id ] = {'name':name,
                            'age':age,
                            'grades':gradeslist,
                            'subject':subject}
    

# Main program loop
while True:
    print("1. Display Student Details")
    print("2. Add New Student")
    print("3. Exit")
    choice = int(input("Enter your choice (1, 2, or 3): "))

    if choice == 1:
        student_id = int(input("Enter student ID: "))
        display_student_details(student_id)
    elif choice == 2:
        add_student()
        print("Student added to the database.")
    elif choice == 3:
        print("Exiting program.")
        break
    else:
        print("Invalid choice. Please try again.")

1. Display Student Details
2. Add New Student
3. Exit
Enter your choice (1, 2, or 3): 2
Enter student Id: 103
Enter student name: Amit
Enter student age: 45
enter sttudent grades (comma-separated): 45,56,78
[45, 56, 78]
Enter student subjects (comma-separated): ssc,sst,dvv
['ssc', 'sst', 'dvv']
Student added to the database.
1. Display Student Details
2. Add New Student
3. Exit
Enter your choice (1, 2, or 3): 2
Enter student Id: 159
Enter student name: Amitdbhdeb
Enter student age: 45
enter sttudent grades (comma-separated): 45,89,78
[45, 89, 78]
Enter student subjects (comma-separated): ss,dd,cc
['ss', 'dd', 'cc']
Student added to the database.
1. Display Student Details
2. Add New Student
3. Exit
Enter your choice (1, 2, or 3): 1
Enter student ID: 159
Student ID: 159
Name: Amitdbhdeb
Age: 45
Grades: [45, 89, 78]
1. Display Student Details
2. Add New Student
3. Exit
Enter your choice (1, 2, or 3): 3
Exiting program.

In [55]:
students

{101: {'name': 'Amit',
  'age': 45,
  'grades': ['45', '56', '78'],
  'subject': ['sst', 'sci', 'eng']},
 102: {'name': 'anil',
  'age': 89,
  'grades': ['45', '78', '75'],
  'subject': ['sci', 'eng', 'hindi']}}

In [50]:
num = 6
while (num>5):
    num= int(input("Enter your choice (1, 2, or 3): "))

Enter your choice (1, 2, or 3): 5

In [58]:
### passing parameter in a function
def add(a,b):
    return a+b

In [60]:
add(2,3)

5

In [70]:
###
# display students
students

{101: {'name': 'amit',
  'age': 45,
  'grades': [45, 56, 78],
  'subject': ['sst', 'eng', 'hindi']},
 102: {'name': 'Amit',
  'age': 56,
  'grades': [78, 78],
  'subject': ['sst', 'eng']}}

In [74]:
students[103]

KeyError: 103

In [71]:
students[101]['name']

'amit'

In [72]:
students[101]['age']

45

In [73]:
students[101]['grades']

[45, 56, 78]

In [78]:
student_id = 101
if student_id in students:
    print('it valid')
else:
    print('Not Valid')

it valid